body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.site-body {
}

/*---------HEADER------------*/

.header {
    background: #FFFFFF;

}
.header-navigation {
    width: 1440px;
    background: #FFFFFF;
}
.header-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-contacts {

}
.header-mail {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: #434455;
}
.header-mail:hover,
.header-mail:focus{
    color: #4D5AE5;
}
.header-tel {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: #434455;
}
.header-tel:hover,
.header-tel:focus {
    color: #4D5AE5;
}

/*-----Section-----*/

.section-btn {
    background: #2E2F42;
}
.section-under-btn {
    font-weight: 600;
    font-size: 56px;
    line-height: calc(60/56);
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button {
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19/16);
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    background: #4D5AE5;
    cursor: pointer;
}

/*------skills-------*/

.skills {
    
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.skills-name {
}
.skills-list {
}
.skils-item {
}
.skills-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.skills-after-title {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: #434455;
}
.design-list {
}

/*---------design-----------*/

.design {
    font-weight: 600;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.hero {
    background: #F4F4FD;
}
.hero-team {
    font-weight: 600;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.hero-list {
}
.hero-item {
}

.hero-images {

}

.hero-name {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.hero-skills {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

/*--------------FOOTER--------------*/
.footer {
    position: absolute;
    width: 1440px;
    height: 310px;
    background: #2E2F42;
}
.web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-logo:hover,
.footer-logo:focus {

}
.footer-text {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/*-----------------SECOND_PAGES-----------------*/
.second-btn {
}
.second-btn-name {
}
.second-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #4D5AE5;
    display: flex;
    background: #F4F4FD;
}
.second-button:hover {
    background-color: #4D5AE5;
    color: #F4F4FD;
}
.second-button:focus {
    background-color: #4D5AE5;
    color: #F4F4FD;
}

.images {
}
.images-list {
}
.images-item {
}
.images-title {
    width: 290px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.images-after-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: #434455;
}
