p,h1,h2,h3,h4,h5 {
    margin: 0;
}
ul,ol {
    margin: 0;
    padding-left: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--button-color);
}
:root {
    --text-color: #434455;
    --text-head: #2E2F42;
    --logo-color:  #4D5AE5;
    --logo-second-color: #F4F4FD;
    --button-color: #FFFFFF;
    --footer-color: #E7E9FC;
    --link-color: #404BBF;
}
.container {
    width: 1440px;
    padding-left: 0 auto;
    padding-right: 0 auto;
    margin: 0 auto;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.site-body {
}

/*---------HEADER------------*/


.header {
    background: var(--button-color);
    padding-top: 24px;
    padding-bottom: 24px;
    width: 1440px;
    border: 1px solid #E7E9FC;
}

.main-header {
    display: flex;
}
.header-navigation {
    background-color: var(--button-color);
    display: flex;
}
.header-web {
    color: var(--logo-color);
}
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-head);
    padding-left: 156px;
    padding-right: 76px;
}
.header-list {
    display: flex;
    gap: 40px;
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--text-head);
    margin-right: auto;
}
.header-link:hover,
.header-link:focus {
    color: var(--link-color);
}
.header-contacts {
    display: flex;
    
}
.header-mail {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-left: 332px;
    margin-right: 40px;
}
.header-mail:hover,
.header-mail:focus {
    color: var(--link-color);
}
.header-tel {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--text-color);
   
}
.header-tel:hover,
.header-tel:focus {
    color: var(--link-color);
}

/*-----Section-----*/

.section-btn {
    background: var(--text-head);
    height: 600px;
}
.section-under-btn {
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60/56);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--button-color);
    padding-top: 188px;
    display: flex;
    height: 120px;
    width: 496px;
    margin-left: 473px;
    


}
.button {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.04em;
    color:var(--button-color);
    padding: 16px 32px;
    background: var(--logo-color);
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 188px;
    margin-left: 636px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*------skills-------*/

.skills {
    width: 1128px;

    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;

}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.skills-name {
}
.skills-list {
    display: flex;
    width: 1128px;
    height: 104px;
    gap: 24px;

}
.skils-item {

}
.skills-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--text-head);
    margin-bottom: 8px;
}
.skills-after-title {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.design-list {
    justify-content: center;
    text-align: center;
    width: 1128px;
    height: 412px;
    padding-left: 156px;
    padding-bottom: 72px;

}

/*---------design-----------*/

.design-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;

}
.design {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-head);
    margin-bottom: 72px;
}
.hero {
    background-color: var(--logo-second-color);
    width: 1440px;
    height: 732px;


}
.hero-team {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-head);
    padding-top: 120px;
    padding-bottom: 72px;
    

   
}
.hero-list {
    display: flex;
    padding-left: 156px;
    gap: 24px;

}
.hero-item {
    background-color:var(--button-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.hero-image-skills {
    display: flex;
    gap: 24px;
    width: 1128px;
    
    

    
}

.hero-name {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-head);
    padding-top: 32px;
    padding-bottom: 8px;
}
.hero-skills {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding-bottom: 32px;

}

/*--------------FOOTER--------------*/
.footer {
    background: var(--text-head);
    height: 310px;
    padding: 0;
}

.footer > .footer-container {
    width: 264px;
    height: 110px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 156px;
}
.web {
    color: var(--logo-color);
}
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-second-color);
}
.footer-logo:hover,
.footer-logo:focus {

}
.footer-text {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--footer-color);
}

/*-----------------SECOND_PAGES-----------------*/
.second-btn {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 72px;

}
.second-btn-name {
}
.second-button {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    color: var(--logo-color);
    background: var(--logo-second-color);
}

.second-button:focus,
.second-button:hover {
    background-color: var(--logo-color);
    color: var(--logo-second-color);
}

.images {
}
.images-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 1128px;
    margin-left: 156px;
    margin-right: 156px;
    margin-bottom: 120px;
    background: #FFFFFF;
    border: 1px solid #E7E9FC;

 
}
.images-item {
    
}

.images-link {
    text-decoration: none; 
}
.images-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--text-head);
   
}
.images-after-title {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--text-color);
   
}

 .list {
    list-style: none;
 }
 .link {
    text-decoration: none;
 }