p,h1,h2,h3,h4,h5 {
    margin: 0;
}
ul,ol {
    margin: 0;
    padding-left: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--button-color);
}
:root {
    --text-color: #434455;
    --text-head: #2E2F42;
    --logo-color:  #4D5AE5;
    --logo-second-color: #F4F4FD;
    --button-color: #FFFFFF;
    --footer-color: #E7E9FC;
    --link-color: #404BBF;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.site-body {
}

/*---------HEADER------------*/


.header {
    background: var(--button-color);
}

.main-header {
    display: flex;  
}
.header-navigation {
    background-color: var(--button-color);
    display: flex;
    
}
.header-web {
    color: var(--logo-color);
}
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-head);
    margin-left: auto;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-list {
    gap: 40px;
    display: flex;   

}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--text-head);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px; 
}


.header-link:hover,
.header-link:focus {
    color: var(--link-color);
}
.header-contacts {
    display: flex;
    margin-left: auto;
    gap: 40px;
    
}
.header-mail {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--text-color);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-mail:hover,
.header-mail:focus {
    color: var(--link-color);
}

.header-tel {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--text-color);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-tel:hover,
.header-tel:focus {
    color: var(--link-color);
}

/*-----Section-----*/

.section-btn {
    background: var(--text-color);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(./images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button-section {

    
}
.section-under-btn {
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60/56);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--button-color);
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.button {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.04em;
    color:var(--button-color);
    padding: 16px 32px;
    background: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover {
    background: #404BBF;
}

/*------skills-------*/

.skills {
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.skills-name {
}

.under-skills-icon {
    display: flex;
    align-items: center;
    gap: 24px; 
}
.under-skills-item {
    
}

.skills-icon-link {
    justify-content: center;    
}
.skills-icon {
    padding: 24px 100px;
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
}

.skills-list {
    display: flex;
    gap: 24px;
}
.skils-item {

}

.skills-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--text-head);
    margin-bottom: 8px;
}
.skills-after-title {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--text-color);
    width: 264px;
}

/*---------design-----------*/
.design-list {
    justify-content: center;
    text-align: center;
    padding-bottom: 120px;
}

.design-portfolio {

}
.design {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-head);
    margin-bottom: 72px;

}
.hero {
    background-color: var(--logo-second-color);
    padding-top: 120px;
    padding-bottom: 120px;
}
.hero-team {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-head);
    margin-bottom: 72px;   
}
.hero-list {
    display: flex;
    gap: 24px;
}

.hero-box {
    padding-top: 32px;
    padding-bottom: 32px;
}
.hero-item {
    background-color:var(--button-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.hero-image-skills {
    display: flex;
    gap: 24px;   
}

.hero-name {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-head);
    margin-bottom: 8px;
}
.hero-skills {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.hero-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.hero-soc-item {
    width: 40px;
    height: 40px;
    margin-top: 8px;
}
.soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
}
.soc-link:hover {
    background: #404BBF;
}

.hero-soc-icon {
    fill: #FFFFFF;
}

/*--------------custom-------------*/


.custom {
    padding-top: 130px;
    padding-bottom: 120px;
}
.custom-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-head);
    margin-bottom: 72px;
}
.custom-list {
   display: flex;
   justify-content: center;
   gap: 24px;
   
}

.custom-item {
    width: calc((100%-120) / 6);
    height: 88px;
}

.custom-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-link :hover,
.custom-link :focus {
    border: 1px solid #404BBF;
    border-radius: 4px;
    fill: #404BBF;
}

.custom-icon {
   padding: 16px 32px;
   width: 168px;
   height: 88px;
   fill: #8E8F99;  
}

/*--------------FOOTER--------------*/
.footer {
    background: var(--text-head);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    width: 264px;
    height: 110px;

}
.web {
    color: var(--logo-color);
}
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-second-color);
}
.footer-logo:hover,
.footer-logo:focus {

}
.footer-text {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--footer-color);
    padding-top: 16px;

}
.social-container {
    width: 208px;
    height: 80px;
}
.footer-social {
    font-weight: 500;
    color: var(--footer-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
}
.footer-soc-list {
    display: flex;
    gap: 16px;
}
.footer-soc-item {
    width: 40px;
    height: 40px;
    margin-top: 8px;
}
.soc-link {
}
.footer-soc-icon {
    fill: #FFFFFF;
}
.hero-soc-icon {
}
/*-----------------SECOND_PAGES-----------------*/
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.second-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}
.second-btn-name {
}
.second-button {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    color: var(--logo-color);
    background: var(--logo-second-color);
    border: 1px solid #E7E9FC;
    
}
.All {
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 24px;
   padding-right: 24px;
}
.Web-Site {
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 24px;
   padding-right: 24px;
}
.App {
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 24px;
   padding-right: 24px;
}
.Design {
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 24px;
   padding-right: 24px;
}
.Marketing {
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 24px;
   padding-right: 24px;
}
.second-button:focus,
.second-button:hover {
    background-color: var(--logo-color);
    color: var(--logo-second-color);
}

.images {
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.images-list {
    display: flex;
    background: #FFFFFF;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.images-item {
    width: 360px;
}
.images-item:nth-child(3n) {
    margin: right 24px;
}
.images-link {
    text-decoration: none; 
    cursor: pointer;
}

.image-text-box {
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;

}
.images-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--text-head);
    margin-bottom: 8px; 
}
.images-after-title {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--text-color);   
}

 .list {
    list-style: none;
 }
 .link {
    text-decoration: none;
 }